fastapi>=0.115,<0.116
pydantic>=2.10,<3.0
uvicorn>=0.30,<0.31
sqlmodel>=0.0.18
httpx>=0.28,<1.0
packaging>=24.0
numpy>=2.0,<3.0
plotly>=5.22
pytest>=8.2,<8.3
ruff>=0.4.0
prometheus-fastapi-instrumentator
slowapi
pytest-cov
pytest-asyncio
black
openai>=1.25.0
apscheduler==3.10.4
python-jose
cachetools
pytesseract
openpyxl>=3.1.5
requests
pydantic-settings>=2.0

# DB Drivers
neo4j>=5.18.0
