fastapi>=0.115,<0.116
pydantic>=2.10,<3.0
uvicorn[standard]>=0.30,<0.31
sqlmodel>=0.0.18
httpx>=0.28,<1.0
packaging>=24.0
numpy>=1.27
pandas==2.2.3
plotly>=5.22
reflex==0.7.12
reflex-hosting-cli>=0.1.49
pytest>=8.2,<8.3
ruff>=0.4.0
